<h1>Pokédex</h1>

<!-- List of pokemon -->
<ul class="pokedex-list">
  <% @pokemon.each do |pkmn| %>
    <li>
      <button class="js-show-pokemon btn btn-link"data-pokemon-uri="<%= pkmn["resource_uri"] %>">
        <%= pkmn["name"] %>
      </button>
    </li>
  <% end %>
</ul>


<!-- Pokemon modal view (hidden at first) -->
<div class="modal fade js-pokemon-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        
        <h3 class="modal-title">
          <h2 class="js-pkmn-name"></h2>
          <h2 class="js-pkmn-number"></h2>
        </h3><br>
        <button type="button" data-toggle="modal" data-target=".js-evolutions-modal" class="js-show-evolutions btn-link">Evolutions</button><br>
        <img class="js-sprites-img" src="">
      </div><!-- .modal-header -->

      <div class="modal-body">
        <ul>
          <h2>Description:</h2>
          <p class="js-pkmn-description"></p>
        </ul>


        <ul class= "pkmn stats">
          <h2>Stats:</h2><br>
          <span>Height:</span>
          <span class="js-pkmn-height"></span><br>

          <span>Weight:</span>
          <span class="js-pkmn-weight"></span><br>

          <span>Type(s):</span>
          <span class="js-pkmn-types"></span><br>

          <span>HP:</span>
          <span class="js-pkmn-hp"></span><br>

          <span>Attack:</span>
          <span class="js-pkmn-attack"></span><br>

          <span>Defense:</span>
          <span class="js-pkmn-defense"></span><br>

          <span>Special Attack</span>
          <span class="js-pkmn-special-a"></span><br>

          <span>Special Defence</span>
          <span class="js-pkmn-special-d"></span><br>

          <span>Speed:</span>
          <span class="js-pkmn-speed"></span><br>
        </ul>
      
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->

<div class="modal fade js-evolutions-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h2>Evolutions:</h2>
      </div>

      <div class="modal-body">
        <span class="js-evo-name"></span><br>
        <img class="js-evo-img" src="">
      </div>
    </div>
  </div>
</div>
