<h1>Pokédex</h1>

<!-- List of pokemon -->
<ul class="pokedex-list">
  <% @pokemon.each do |pkmn| %>
    <li>
      <button class="js-show-pokemon btn btn-link"
          data-pokemon-uri="<%= pkmn["resource_uri"] %>">
        <%= pkmn["name"] %>
      </button>
    </li>
  <% end %>
</ul>


<!-- Pokemon modal view (hidden at first) -->
<div class="modal fade js-pokemon-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span class="js-pkmn-name"></span>
          <small class="js-pkmn-number"></small>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
        <ul>
          <span>Height:</span>
          <span class="js-pkmn-height"></span>

          <span>Weight:</span>
          <span class="js-pkmn-weight"></span>
          
        </ul>

        <ul class= "pkmn stats">
          <span>Types:</span>
          <span class="js-pkmn-types"></span><br>

          <span>HP:</span>
          <span class="js-pkmn-hp"></span><br>

          <span>Attack:</span>
          <span class="js-pkmn-attack"></span><br>

          <span>Defense:</span>
          <span class="js-pkmn-defense"></span><br>

          <span>Special Attack</span>
          <span class="js-pkmn-special-a"></span><br>

          <span>Special Defence</span>
          <span class="js-pkmn-special-d"></span><br>

          <span>Speed:</span>
          <span class="js-pkmn-speed"></span><br>
        </ul>
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
